body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(70, 70, 70);
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	background-color: black;
	position: relative;
	padding: 10px;
	width: 800;
	height: 800;
	border-radius: 10px;
}

.container div {
	background-color: rgb(154, 67, 235);
	border: 10px solid black;
	font-size: xx-large;
	text-align: center;
	border-radius: 10px;
}

.num {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.game-title {
	display: flex;
	justify-content: center;
	font-size: xx-large;
}

.game-score {
	display: flex;
	justify-content: right;
}

.container-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.restart-button {
	width: 200px;
    height: 60px;
	font-size: xx-large;
	border-radius: 10px;
}

.score {
	font-size: xx-large;
}